<div class="row rowFooter">
    <div class="col col-md-5 text-center text-md-start">
        <p class="pt-3 padCopy">Copyright © 2022 Event planner </p>
    </div>
    <div class=" col-6 d-none d-md-block ">
        <img class="img-logo-fb"  src="{{ asset('images/logos/logoFb.png') }}">
        <img class="img-logo-insta"  src="{{ asset('images/logos/logoInsta.png') }}">
    </div>

</div>



